<html>
<style>
    input[type=number],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>

<head>
    <title>Visura Vincoli Baronali</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="customersCtrl">


        <form ng-show="flagInput">
            <div class="form-group">
                <label for="foglio">Numero Foglio:</label>
                <input type="number" class="form-control" id="foglio" ng-model="foglio">
            </div>
            <div class="form-group">
                <label for="particella">Numero Particella:</label>
                <input type="number" class="form-control" id="particella" ng-model="particella">
            </div>
            <button type="submit" data-ng-click="callVisura(foglio,particella)" class="btn btn-default">Cerca</button>
        </form>




        <div class="container" ng-show="flagVisura">
            <h2>Risultato Visura</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Descrizione Campo</th>
                        <th>Valore</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Foglio</td>
                        <td>{{myData.foglio}}</td>
                    </tr>
                    <tr>
                        <td>particella</td>
                        <td>{{myData.particella}}</td>
                    </tr>
                    <tr>
                        <td>Tipologia</td>
                        <td>{{myData.TIPOLOGIA}}</td>
                    </tr>

                    <tr>
                        <td>Successione 904</td>
                        <td>{{myData.SUCCESSIONE_904 }}</td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" data-ng-click="nuovaVisura()" class="btn btn-default">Nuova Visura</button>
        </div>



        <div class="errore" ng-show="flagErrore">
            <h2>Nessuna dato trovato per questa particella</h2>
            <button type="submit" data-ng-click="nuovaVisura()" class="btn btn-default">Nuova Visura</button>

        </div>


    </div>



    <script>
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function ($scope, $http) {

            $scope.init = function () {
                $scope.flagInput = true;
                $scope.flagVisura = false;
                $scope.flagErrore = false;
            };

            $scope.nuovaVisura = function () {
                $scope.flagInput = true;
                $scope.flagVisura = false;
                $scope.flagErrore = false;
            };

            $scope.callVisura = function (foglio, particella) {
                var call2 = {
                    method: "GET",
                    url: "https://shrouded-shore-58646.herokuapp.com/api/vincoli?filter={\"where\":{\"and\":[{\"foglio\":" + foglio + "},{\"particella\":" + particella + "}]}}"
                };
                $http(call2).then(function (response) {
                    var array = response.data;
                    if (typeof array != "undefined" && array != null && array.length > 0) {
                        ;
                        $scope.myData = response.data[0];
                        $scope.flagInput = false;
                        $scope.flagVisura = true;

                    } else {

                        $scope.flagInput = false;
                        $scope.flagErrore = true;

                    }
                }, function () {

                    $scope.flagInput = false;
                    $scope.flagErrore = true;

                });
                return;
            };

            $scope.init();

        });
    </script>

</body>

</html>